@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');





/* Variables */

:root{
   --font-family: "Roboto",sans-serf;
   --normal-font:400;
   --bold-font:700;
   --bolder-font:900;
   
   --bg-color:#000106;
    --primary-color: white;
    --secondary-color: #ff7235;
   
   --primary-shadow: #8b8eaf;
   --secondary-shadow: #a17a69;
   --bottom-margin: 0.5rem;
   --bottom-margin-2: 1rem;
   --line-height: 1.7rem;
   --transition: 0.3s;

}

.light-theme{
   
    --bg-color: #fcfcfc;
   --primary-color:#4756df;
   --secondary-color:#ff7235;
}

/* Variables end */
html{
    scroll-behavior: smooth;
}
/* CSS Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    margin-left: auto;
    margin-right: auto;
}
a{
   
    color: var(--primary-color);
}
a:hover{
    
    color: var(--secondary-color);
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
   
}




/* CSS Flex-box */
nav{
  
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
   
    background-color: var(--bg-color);
   
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    
    
}
nav h1{
    color: var(--primary-color);
}
nav h3{
    color: var(--secondary-color);
}
nav a{

    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
nav ul{
    
    display: flex;
   
    
}
nav ul li{

    
    font-weight: var(--bold-font);
    color: var(--bg-color);
}



.burger-menu{
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
    /* display: block; */
}
nav ul.show{
    transform: translateX(0);
}


#intro{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: table;
    position: relative;
    text-align: center;
    z-index: 0;
}
.intro-position{
    font-size: 1.1rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--primary-color);
    text-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.home{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transform: translateY(-2.1rem);
  z-index: 3;
  position: relative;


 
}

.home h3{
    font-size: 2.0rem;
    line-height: 1.3;
    margin-bottom: 0;
    letter-spacing: .2rem;
    content: var(--bold-font);
    
}

.home h1{
    font-size:70px;
    line-height: 1.071;
    max-width: 1000px;
    margin-top: 0;
    margin-bottom: .4rem;
    margin-left: auto;
    margin-right: auto;


  
}

.home h1 span{
    color:var(--primary-color);
}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    
  
}
.hero img{
    
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: fill;
    margin-bottom: 2rem;
    border:7rem solid(--primary-color);
    
    padding: 1rem;
    
   
   
 
}
.bio{
    width: 25rem;
    padding: 0.625rm;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2 px var(--primary-shadow);

    text-align: justify;
    text-justify: inter-word;
    color: var(--primary-color);
}

.bio h1{
    margin-bottom: var(--bottom-margin);
}
.bio p{
    line-height: var(--line-height);
    padding: 0.3rem 0;
}


.icon{
    width: 11.875rem;
    height: 11.25rem;
}
.icon-card{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}



.contact{
    margin-top: 2rem;
}
.contact h2{
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
    color: var(--secondary-color);
}



.submit-btn{
   
    padding:.7rem 3rem;
    background-color:var(--bg-color);
    color: var(--primary-color);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 3rem;
    border: 2px solid var(--primary-color);
}
.submit-btn:hover{
    
    /* border: 2px solid var(--primary-color); */
    cursor: pointer;
    color:var(--secondary-color)
}


.socials{
   
    margin: auto;
    width: 100%;
    column-gap: 5px;
   
    gap: 3rem;

    
}


footer{

    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    color: var(--secondary-color);
}
.scroll-up{
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
   
    
}

.up-arrow{
    width: 3rem;
    height: 3rem;
}

#icon{
    width: 30px;
    cursor: pointer;
}





/* Media Quries For Making website responsive  */



@media only screen and (max-width: 1280px) {
    


      nav {
        padding: 1.5rem 1rem;
      }
    
      nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
      }
    
       nav ul li {
        margin: 8px;
      }

      .burger-menu {
        display: block;
      }
    
      nav ul.show {
        transform: translateX(0);
      }


      .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
      }
    
      .hero img {
            height: 17rem;
            width: 17rem;
            margin-top: 4rem;
        
        }

      .bio {
        margin-top: 1rem;
        padding: 1rem 3.5rem;
      }
      .bio h1{
         text-align: center;
      }
      .bio p{
          text-align: justify;
      }
    
       .icon {
       width: 5.875rem;
       height: 5.25rem;
       }


      .home{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        transform: translateY(-2.1rem);
        z-index: 3;
        position: relative;
      }
      
      .home h3{
          font-size: 1.3rem;
          line-height: 0.565;
          margin-bottom: 0;
          letter-spacing: .1rem;
          content: var(--bold-font);
         
      }
      
      .home h1{
          font-size:3.5rem;
          line-height: 1.071;
          max-width: 500px;
          margin-top: 0;
          margin-bottom: .3rem;
          margin-left: auto;
          margin-right: auto;
        }
      
        .submit-btn{
           
        
            padding:.3.5rem 1.5rem;
            background-color:var(--bg-color);
            color:var(--primary-color);
            cursor: pointer;
            margin-top: 1rem;
            font-size: 1rem;
            border-radius: 1.5rem;
        }
        .submit-btn:hover{
           
            cursor: pointer;
        }

        #icon{
            width: 30px;
            cursor: pointer;
        }
       
          
       .scroll-up{
           
          display:none;
        }
   
        .intro-position{
        font-size: 0.7rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: var(--primary-color);
        text-shadow: 0 0 6px rgba(0,0,0,0.2);
}

   
   


}





 
